---
import Gallery from "../components/Gallery.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const imageFiles = import.meta.glob<{ default: ImageMetadata }>(
  "../images/nature/*.jpg",
  { eager: true }
);
const images = Object.values(imageFiles).map((file) => ({
  data: file.default,
  alt: "This is a random image",
}));
---

<BaseLayout>
  <h1>Index Page</h1>
  <Gallery images={images} />
</BaseLayout>
