---
import UserPanel from "../components/UserPanel.astro";
import Layout from "../layouts/Layout.astro";

const pages = ['Home', 'Blog', 'About us', 'Contact us'];
const currentUser = {
	name: 'John Doe',
	isAdmin: true,
};
---

<Layout pageTitle = "Astro demo">
	<h1>Astro</h1>
		<button>Click me</button>
		<ul>
			{pages.map((page) => <li>{page}</li>)}
		</ul>
		<UserPanel userName={currentUser.name} isAdminUser={currentUser.isAdmin} />
</Layout>

<script src="../scripts/index.ts"></script>
<script src="/external-script.js" is:inline></script> 

<!-- https://github.com/withastro/astro/blob/main/examples/framework-multiple/src/styles/global.css -->
<style is:global>
	.counter {
	display: grid;
	font-size: 2em;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	margin-top: 2em;
	place-items: center;
}

.counter-message {
	text-align: center;
}
</style>