---
import Layout from "../../layouts/Layout.astro";
import type { MarkdownInstance } from "astro";

const postFiles = import.meta.glob<MarkdownInstance<Record<string, any>>>('./*.md', { eager: true });
const posts = Object.values(postFiles);
---

<Layout pageTitle="Posts">
    <h1>Posts</h1>
    <section>
        {
            posts.map((post) => (
                <p>
                    <a href={post.url}>
                        {post.frontmatter.title}
                    </a>
                </p>
            ))
        }
    </section>
</Layout>